* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* esto es equivalente a 10px */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* añade un tamaño máximo para el cuerpo para evitar que ocupe toda la pantalla */
  max-width: 1200px;
  /* centra el contenido */
  margin: 0 auto;
  /* añade un poco de espacio a los costados */
  padding: 0 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
